@model List<ResultFeatureDto>

<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">

        @foreach(var item in Model)
        {
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="@item.Icon"></h1>
                    <h5 class="font-weight-semi-bold m-0">@item.Title</h5>
                </div>
            </div>
        }
    </div>
</div>