@model CreateAboutDto

@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Hakkımda Alanı Ekleme Sayfası</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <label>Açıklama</label>
                        <input type="text" class="form-control" asp-for="Description" />
                        <br />
                        <label>Adres</label>
                        <input type="text" class="form-control" asp-for="Address" />
                        <br />
                        <label>Email</label>
                        <input type="text" class="form-control" asp-for="Email" />
                        <br />
                        <label>Telefon</label>
                        <input type="text" class="form-control" asp-for="Phone" />
                        <br />
                        <button class="btn btn-primary">Hakkımda Alanını Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

