<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MultiShop Admin Paneli</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/MainDownload-OvioAdmin-html5-template/html/bootstrap/css/bootstrap.min.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Template style -->
    <link rel="stylesheet" href="~/MainDownload-OvioAdmin-html5-template/html/dist/css/style.css">
    <link rel="stylesheet" href="~/MainDownload-OvioAdmin-html5-template/html/tables/et-line-font/et-line-font.css">
    <link rel="stylesheet" href="~/MainDownload-OvioAdmin-html5-template/html/tables/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/MainDownload-OvioAdmin-html5-template/html/dist/weather/weather-icons.min.css">
    <link type="text/css" rel="stylesheet" href="~/MainDownload-OvioAdmin-html5-template/html/dist/weather/weather-icons-wind.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>