@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <script type="text/javascript">
                $(document).ready(() => {
                    var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7266/SignalRHub").build();
                    $("#connstatus").text(connection.state);

                    connection.start().then(() => {
                        $("#connstatus").text(connection.state);
                        connection.invoke("SendStatisticCount");
                    }).catch((err) => { console.log(err) });

                    connection.on("ReceiveCommentCount", (getTotalCommentCount) => {
                        $("#commentcount").text(getTotalCommentCount);
                    });

                });
            </script>
        </div>
    </div>
</div>


<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <div class="col-md-8 offset-2">
                        <div class="alert alert-primary">Bağlantının Durumu:<strong id="connstatus"></strong></div>
                        <div class="alert alert-primary">Yorum Sayısı:<strong id="commentcount"></strong></div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>


