<div class="col-lg-5 mb-5">
    <div class="bg-light p-30 mb-30">
        <iframe style="width: 100%; height: 250px;"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="bg-light p-30 mb-3">
        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>34100, Ataşehir İstanbul</p>
        <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>multishop@example.com</p>
        <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+90 500 400 30 20</p>
    </div>
</div>