@model List<ResultBrandDto>

<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
               
                @foreach(var item in Model)
                {
                    <div class="bg-light p-4" style="height:120px;width:150px">
                        <img src="@item.ImageUrl" alt="">
                    </div>
                }
            </div>
        </div>
    </div>
</div>