@model CreateContactDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Ana Sayfa</a>
                <span class="breadcrumb-item active">İletişim</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Contact Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Bize Yazın</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <form method="post">
                    <div class="control-group">
                        <input type="text" class="form-control" id="name" placeholder="Adınız soyadınız"
                               required="required" data-validation-required-message="Lütfen boş geçmeyin" asp-for="NameSurname" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" id="email" placeholder="Email Adresiniz"
                               required="required" data-validation-required-message="Lütfen boş geçmeyin" asp-for="Email" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" id="subject" placeholder="Mesaj Konusu" asp-for="Subject"
                               required="required" data-validation-required-message="Lütfen boş geçmeyin" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" rows="8" id="message" placeholder="Mesajınız" asp-for="Message"
                                  required="required"
                                  data-validation-required-message="Lütfen boş geçmeyin"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                            Mesajı Gönder
                        </button>
                    </div>
                </form>
            </div>
        </div>
        @await Component.InvokeAsync("_ContactDetailComponentPartial")

    </div>
</div>
<!-- Contact End -->
