@model List<ResultOrderingByUserIdDto>
@{
    ViewData["Title"] = "MyOrderList";
    Layout = "~/Areas/User/Views/UserLayout/Index.cshtml";
    int count = 0;
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Basic Table</h4>
                        <p class="card-description">
                            Add class <code>.table</code>
                        </p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Toplam Fiyat</th>
                                        <th>Sipariş Tarihi</th>
                                        <th>Sipariş Detayları</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.TotalPrice</td>
                                            <td>@item.OrderDate.ToShortDateString()</td>
                                            <td><a href="#" class="btn btn-warning">Sipariş Detayları</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>