@model UpdateCategoryDto

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Kategori Güncelleme Sayfası</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <input type="hidden" asp-for="CategoryID" />
                        <label>Kategori Adı</label>
                        <input type="text" class="form-control" asp-for="CategoryName" />
                        <br />
                        <label>Kategori Görsel</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <button class="btn btn-primary">Kategoriyi Güncelle</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
