<div class="col-lg-4">
    <form class="mb-30" action="">
        <div class="input-group">
            <input type="text" class="form-control border-0 p-4" placeholder="Kupon Kodunuz">
            <div class="input-group-append">
                <button class="btn btn-primary">Kuponyu Uygula</button>
            </div>
        </div>
    </form>
    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Sipariş Özeti</span></h5>
    <div class="bg-light p-30 mb-5">
        <div class="border-bottom pb-2">
            <div class="d-flex justify-content-between mb-3">
                <h6>Toplam Ürün Fiyatı</h6>
                <h6>2200.00 ₺</h6>
            </div>
            <div class="d-flex justify-content-between">
                <h6 class="font-weight-medium">Kdv</h6>
                <h6 class="font-weight-medium">220.00 ₺</h6>
            </div>
        </div>
        <div class="pt-2">
            <div class="d-flex justify-content-between mt-2">
                <h5>Toplam</h5>
                <h5>2420.00 ₺</h5>
            </div>
            <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">Ödeme Adımına Geç</button>
        </div>
    </div>
</div>