
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadUILayoutComponentPartial")

<body>

    @await Component.InvokeAsync("_TopbarUILayoutComponentPartial")

    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")

    @await Component.InvokeAsync("_DirectoryAlertUILayoutComponentPartial")

    @RenderBody()

    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")

    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")

 </body>
</html>