@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div class="container-fluid pb-5">
    <div class="row px-xl-5">

        @await Component.InvokeAsync("_ProductDetailImageSliderComponentPartial",new {id=ViewBag.x})

        @await Component.InvokeAsync("_ProductDetailFeatureComponentPartial",new {id=ViewBag.x})

    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Ürün Detayı</a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Ürün Bilgileri</a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Yorumlar</a>
                </div>
                <div class="tab-content">

                    @await Component.InvokeAsync("_ProductDetailDescriptionComponentPartial",new {id=ViewBag.x})

                    @await Component.InvokeAsync("_ProductDetailInformationComponentPartial",new {id=ViewBag.x})

                    @await Component.InvokeAsync("_ProductDetailReviewComponentPartial",new {id=ViewBag.x})

                </div>
            </div>
        </div>
    </div>
</div>