<section class="content-header">
    <h1>@ViewBag.v0</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> @ViewBag.v1</a></li>
        <li class="active"><i class="fa fa-envelope-o"></i> @ViewBag.v2</li>
        <li class="active"><i class="fa fa-bars"></i> @ViewBag.v3</li>
    </ol>
</section>