<div class="col-12 pb-1">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <div>
            <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
            <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
        </div>
        <div class="ml-2">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sırala</button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Son Ürünler</a>
                    <a class="dropdown-item" href="#">Popülarite</a>
                    <a class="dropdown-item" href="#">En İyiler</a>
                </div>
            </div>
            <div class="btn-group ml-2">
                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Göster</button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">10</a>
                    <a class="dropdown-item" href="#">20</a>
                    <a class="dropdown-item" href="#">30</a>
                </div>
            </div>
        </div>
    </div>
</div>