<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">@ViewBag.directory1</a>
                <a class="breadcrumb-item text-dark" href="#">@ViewBag.directory2</a>
                <span class="breadcrumb-item active">@ViewBag.directory3</span>
            </nav>
        </div>
    </div>
</div>