@model List<ResultOfferDiscountDto>
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        @foreach(var item in Model)
        {
            <div class="col-md-6">
                <div class="product-offer mb-30" style="height: 300px;">
                    <img class="img-fluid" src="@item.ImageUrl" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">@item.Title</h6>
                        <h3 class="text-white mb-3">@item.SubTitle</h3>
                        <a href="" class="btn btn-primary">@item.ButtonTitle</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>