
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Anasayfa</a>
                <span class="breadcrumb-item active">Ürün Listesi</span>
            </nav>
        </div>
    </div>
</div>


