@model UpdateFeatureSliderDto

@{
    ViewData["Title"] = "UpdateFeatureSlider";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<section class="content container-fluid">
    <div class="row">

        <div class="col-md-12">
            <div class="chart-box">
                <h4>Öne Çıkan Slider Görseli Güncelleme Sayfası</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <input type="hidden" asp-for="FeatureSliderId" />
                        <label>Görsel Başlığı</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Görsel Açıklaması</label>
                        <input type="text" class="form-control" asp-for="Description" />
                        <br />
                        <label>Görsel Linki</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <button class="btn btn-primary">Öne Çıkan Slider Görseli Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


